<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <%- include ('../partials/nav.ejs') %>
        <div class="container">
            <div class="pt-3 d-flex">
                <h1 class="title p-2">My Collections</h1>

                <!-- Add Collection Button -->
                <button class="btn btn-info m-3 ml-3" style="min-width: 100px;" onclick="location.href='/create'">+ Add Collection</button>

            </div>

                
                <!-- Generate Card for Each Collection -->
                <div class="row">
                    <% for (let i = 0; i < Collection.length; i++) { %>

                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="card border-primary my-4 h-100">
                                <a href="/<%=Collection[i]._id%>"> <img src="<%= Collection[i].collectionImage %>" class="card-img-top"></a>
                                <div class="card-body text-center d-flex flex-wrap">
                                    <a href="/<%=Collection[i]._id%>" class="w-100" style="text-decoration: none; color: black;"><h5 class="card-title pt-3"> <%= Collection[i].collectionName %></h5></a>
                                    <div class="d-flex justify-content-evenly w-100">
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                Edit
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li>
                                                    <form action="/collections/<%=Collection[i]._id%>?_method=PUT" method="POST">
                                                        <input class="mb-2 m-3" type="text" name="collectionName" value="<%=Collection[i].collectionName%>"/><br/>
                                                        <input class="mb-2 m-3" type="text" name="collectionImage" value="<%=Collection[i].collectionImage%>"/><br/>
                                                        <input class="dropdown-item" type="submit" value="Submit"/> 
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                        <form action="/collections/<%=Collection[i]._id%>?_method=DELETE" method="POST">
                                            <input class="btn btn-danger" type="submit" value="Delete">
                                        </form>
                                        <!-- <button class="btn btn-primary" onclick="location.href='/<%=Collection[i]._id%>/edit'">Edit</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
        </div>
    </body>
</html>