<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <%- include ('../partials/nav.ejs') %>

        <div class="container">
            <h1 class="title pt-3"><%=Collection.name%></h1>

                <!-- Generate Card for Each Sample in Collection -->
                <div class="row">
                    <% for (let i = 0; i < Collection.collectionSamples.length; i++) { %>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card border-primary my-4" style="min-width: 350px">
                                <div class="card-body text-center" style="height: 175px">
                                    <h5 class="card-title pt-3"> <%=Collection.collectionSamples[i].name%> </h5>
                                    <audio controls src=" <%=Collection.collectionSamples[i].preview%> "></audio>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Rename
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li>
                                                <form action="/<%=Collection._id%>/<%=Collection.collectionSamples[i]._id%>?_method=PUT" method="POST">
                                                    <input class="mb-2 m-3" type="text" name="name" value="<%=Collection.collectionSamples[i].name%>"/><br/>
                                                    <input class="dropdown-item" type="submit" value="Submit"/> 
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-primary mb-3" onclick="location.href=''">Rename</button>
                                    <button class="btn btn-primary mb-3" onclick="location.href=''">Move</button>
                                    <form action="/<%=Collection._id%>/<%=Collection.collectionSamples[i]._id%>?_method=DELETE" method="POST">
                                        <input class="btn btn-danger mb-3" type="submit" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
        </div>

    </body>
    <script>

        $(()=> {
            
        // Stop Audio When New One Plays [credit to HoRn on stackOverflow]
        document.addEventListener('play', function(e) {
            let audios = document.getElementsByTagName('audio');
    
                for (let i = 0; i < audios.length; i++) {
                    if (audios[i] != e.target) {
                        audios[i].pause();
                    }
                }

            }, true);
        });

    </script>
</html>