<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand ms-1" href="/">SoundCache</a>
                <div class="d-flex">
                    <a class="me-2" href="/collection" style="text-decoration: none; color: black">My Collection</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <h1 class="title pt3">My Collections</h1>
            <button class="btn btn-info p-2 ml-3" style="min-width: 100px;" onclick="location.href='/collection/create'">+</button>
                <div class="row">
                    <% for (let i = 0; i < Collection.length; i++) { %>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card border-primary my-4" style="min-width: 350px">
                                <div class="card-body text-center" style="height: 175px">
                                    <h5 class="card-title pt3"> <%= Collection[i].name %> </h5>
                                    <form action="/collection/<%= Sample[i].id%>?_method=DELETE" method="POST">
                                        <input class="btn btn-danger mb-3" type="submit" value="Delete Sample">
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <h1 class="title pt3">My Samples</h1>
                <div class="row">
                    <% for (let i = 0; i < Sample.length; i++) { %>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="card border-primary my-4" style="min-width: 350px">
                                <div class="card-body text-center" style="height: 175px">
                                    <h5 class="card-title pt3"> <%= Sample[i].name %> </h5>
                                    <audio controls src="<%= Sample[i].preview %>"></audio>
                                    <form action="/collection/<%= Sample[i].id%>?_method=DELETE" method="POST">
                                        <input class="btn btn-danger mb-3" type="submit" value="Delete Sample">
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
        </div>
    </body>
    <script>

        $(()=> {
            
            $('#navSearch').on('submit', (event) => {

                event.preventDefault();
                window.location.href = "/"

                // Variable to Store User Input in Search Box
                const userInput = $('input[type="text"]').val();
                console.log(userInput)
                
            })

            // Stop Audio When New One Plays [credit to HoRn on stackOverflow]
            document.addEventListener('play', function(e) {
            let audios = document.getElementsByTagName('audio');
    
                for (let i = 0; i < audios.length; i++) {
                    if (audios[i] != e.target) {
                        audios[i].pause();
                    }
                }

            }, true);
        });

    </script>
</html>